<div>
  <app-select-figure-group
    (idGroup)="idGroupFigure = $event"
  ></app-select-figure-group>
</div>

<div>A;adir nueva figura</div>
<form [formGroup]="form" (ngSubmit)="createFigure()">
  <input
    type="text"
    placeholder="Nombre de Figura"
    formControlName="nameFigure"
  />
  <div class="grid">
    <ng-container *ngFor="let position of positions; index as i">
      <div
        (click)="toggleItem(i)"
        class="item"
        [class.itemSelect]="position == 1"
        [class.itemUnselect]="position == 0"
      ></div>
    </ng-container>
  </div>
  <div>
    <button [disabled]="!form.valid">Save</button>
  </div>
</form>
