<div>
  <app-select-figure-group
    (idGroup)="idGroupFigure = $event"
  ></app-select-figure-group>
</div>

<div class="title">Añadir nueva figura</div>
<form [formGroup]="form" (ngSubmit)="createFigure()" class="w-100">
  <input
    class="input"
    type="text"
    placeholder="Nombre de Figura"
    formControlName="nameFigure"
  />
  <div class="grid">
    <ng-container *ngFor="let position of positions; index as i">
      <div
        (click)="toggleItem(i)"
        class="item"
        [class.itemSelect]="position == 1"
        [class.itemUnselect]="position == 0"
        [class.itemNonSelect]="i == 12"
      ></div>
    </ng-container>
  </div>
  <div class="flex justify-content-end w-100">
    <button [disabled]="!form.valid || !idGroupFigure">Guardar</button>
  </div>
</form>
