@import '../../mixins';

:host{
  width: 100%;
  
  @include flexCenterHost();
  
}


.container{
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  width: 80%;
  margin: auto;
  height: 35em;
  padding: 2em;
  @include boxShadow();
}


