<div class="container flex justify-content-center align-items-center">
  <div class="flex align-items-start flex-column" *ngIf="profile">
    <app-profile-item
      class="my-2"
      [title]="'Nombre'"
      [valueTitle]="profile.firstName"
      >#</app-profile-item
    >
    <app-profile-item
      class="my-2"
      [title]="'Apellidos'"
      [valueTitle]="profile.lastName"
      >#</app-profile-item
    >
    <app-profile-item
      class="my-2"
      [title]="'Nombre del usuario'"
      [valueTitle]="profile.username"
      >#</app-profile-item
    >
    <app-profile-item class="my-2" [title]="'rol'" [valueTitle]="profile.rol"
      >#</app-profile-item
    >
    <app-profile-item
      class="my-2"
      [title]="'Fecha de creacion'"
      [valueTitle]="profile.createdDate"
      >#</app-profile-item
    >
  </div>

  <div class="flex justify-content-center align-items-center">
    <img
      width="50%"
      src="https://cdn.pixabay.com/photo/2014/12/21/23/28/beach-ball-575425_960_720.png"
      alt=""
    />
  </div>
</div>
