.sideBar{
  background-color: gray;
  height: 100%;
  width: 100%;
  margin: 0;
 
  
}
.sideBar-Ul{
  margin-top: 2em;
    
    
    
    width: 100%;
}
.sideBar-Ul-li{
  cursor: pointer;
  padding: 1em;
  box-sizing: border-box;
  width: 100%;
  border-bottom: solid 1px black;
  span{
    // margin-left: 1em;
  }
}
