@mixin flexCenterHost() {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

@mixin boxShadow() {
  box-shadow: 2px 4px 45px -14px rgba(0,0,0,0.75);
  border-radius: 10px;
}