<div class="h-100vh flex justify-content-center align-items-center bg-image">
  <div class="flex justify-content-center align-items-center loginBox">
    <form
      [formGroup]="form"
      (ngSubmit)="login()"
      class="flex w-100 flex-column justify-content-center align-items-center"
    >
      <app-errors
        *ngIf="formIncorrect"
        class="w-100 flex justify-content-center align-items-center"
        [errorMessage]="errosMessages.error"
      ></app-errors>

      <div class="loginLabel flex flex-column">
        <label for="">UserName</label>
        <input class="loginInput" type="text" formControlName="username" />
      </div>
      <div class="loginLabel flex flex-column">
        <label for="">Password</label>
        <input class="loginInput" type="password" formControlName="password" />
      </div>
      <button [ngClass]="!form.valid ? 'loginButton_disable' : 'loginButton'">
        Ingresar
      </button>
    </form>
  </div>
</div>
